/* styles.css */
body {
    background-color: rgb(170, 156, 147);
  }
  
  #shireInn {
    height: 50vh;
  }

.welcome {
  color: red;
}

.italicWelcome {
  font-style: italic;
  font-weight: 300;
}

